h1,h2,h3,h4,h5,h6{
  color:white;
}
.navbar-default{
  background-color:inherit;
}
.Container{

}
body{
  background-color: #061223
}
.carousel-example-generic.carousel.slide{
  padding:15pt;
}
.navbar-default{
  background-color:#;
  color:inherit;
}
.Title{
  text-transform: uppercase;
  color: #11f2c6;
}
.product-name-div {
  z-index: 999999;
  margin-top: -20px;
}
.vizDiv{
  margin-top: 50px;
}
.chartTitle {
  text-anchor: middle;
  fill:white;
  /*font-size: 1.33em;*/
}
.activity-timeseries {
  fill: none;
  stroke-width: 1.5pt;
}
.descripText{
  /*margin-left: 3px;*/
  margin-top: 10px;
  color:white;
}
.socialPath {
  fill: none;
  stroke-width: 5;
}
.socialName{
  text-anchor: middle;
  text-align: center;
}
.socialNumber{
  text-anchor: middle;
  fill: white;
  stroke:none;
  font-family: 'Abril Fatface';
  font-weight: 400;
  font-style: normal;
}
.socialText{
  text-align: center;
  color:white;
}
.facebook{
  stroke:rgb(51,79,141);
  fill:rgb(51,79,141);
  color:rgb(51,79,141)
}
.twitter{
  stroke:rgb(65,170,242);
  fill:rgb(65,170,242);
  color:rgb(65,170,242);
}
.instagram{
  stroke:rgb(219,15,193);
  fill:rgb(219,15,193);
  color:rgb(219,15,193);
}
.up{
  color:#009245;
}
.down{
  color:#c1272d;
}
.productName{
  color:rgba(255,255,255,1);
}
.tooltipDiv{
  /*border: black 1pt solid line;
  margin-top: 10pt;*/
}
.tooltip{

}
.mapSvg{
  fill:rgba(0,0,255,0.3);
}
.rectShape{

}
